version: "3.9"

services:
  portfolio:
    build: .
    container_name: portfolio-blue  # eller portfolio-green
    ports:
      - "4000:3000"  # kun til direkte adgang, NPM bruger container-navn
    environment:
      NODE_ENV: production
    networks:
      - nginx-proxy-manager_default

networks:
  nginx-proxy-manager_default:
    external: true

